@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.filter-button {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  flex-shrink: 0;
  font-family: "VT323", sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 400;
  text-transform: capitalize;
  color: #000000;
}

.filter-button:hover {
  cursor: pointer;
}

.MuiMenu-list {
  padding: 0 !important;
}
